header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: space-between;
}

img {
  width: 100px;
  height: 100px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.articleCard {
  border: 0.5px solid black;
  padding: 10px;
  flex: 1 1 25rem;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px 20px;
}
